.App {
  /*
  text-align: center;
  */
  height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-content:stretch;*/
}

.flexcolumn {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.flexrow {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.flexgrow1 {
  flex-grow: 1;
}
.displayflex {
  display: flex;
}
.flexdirectioncolumn {
  flex-direction: column;
}

.clickable {
  cursor: pointer;
  color: blue;
}

.clickable:hover {
  color: orange;
}

.eval-result {
  overflow: auto;
}

.header {
  /*
  background-color: #282c34;
  */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*
  color: white;
  */
}

.main {
  /*
  background-color: #282c34;
  */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  padding: 1em;
  box-sizing: border-box;
  /*
  color: white;
  */
}

.link {
  /*
  color: #b318f0;
  */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
